body{
  background-color: rgb(187, 187, 201);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Open Sans', sans-serif;
}

.welcome{
  color: rgb(33, 8, 54);
  font-size: 60px;
  text-align: center;
}
.container{
  width: 800px; height: 500px;
  background-color: white;
  position: relative;
}

.content{
  padding: 50px;
}

/*.game{
  display: none;
}*/

.result{
  display: none;
  padding: 50px;
  text-align: center;
}

.submit{
  background-color: blueviolet;
  color: white;
  border: none;
  width: 100%;
  height: 50px;
  cursor: pointer;
  position: absolute;
  bottom: 0;
}

.result h1{
  font-size: 50px;
}


.question{
  color: blueviolet;
}

.correct{
  color: green;
}

.wrong{
  color: red;
}


.playbtn{
  background-color: blueviolet;
  color: white;
  padding: 10px 20px;
  cursor: pointer;
  border: 0;
}

.result h1{
  color: blueviolet;
}

.question{
  font-size: 40px;
}

.answer{
  font-size: 24px;
  margin-bottom: 20px;
  color: rgb(122, 118, 118);
}